In [ ]:
import pandas as pd

In [ ]:
df_data = pd.read_csv('house_prices_raw_data_.csv')

In [ ]:
df_data.head()

,Unnamed: 0,price_euro,number_rooms,area_m2,bathrooms,floor_number,description,Reference and listing Date,contract,type,...,Reference,Delegato alla vendita,Curatore,Geometra,unit,Construction start and expected delivery date,city,neighborhood,street,URL
0,0,"€ 289,000",3,100m²,1,4,Si propone in vendita in esclusiva un ampio ap...,CNB6 - 10/24/2023,Sale,Apartment | Full ownership | Stately property ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Milan,Baggio,Via Val Cannobina,https://www.immobiliare.it/en/annunci/106903681/
1,1,"€ 950,000",234m²,3,5,NaN,A few steps from numerous neighborhood service...,LU.P5.R6_533 - 10/24/2023,Sale,Apartment | Full ownership | Stately property ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Milan,Ponte Nuovo,Via del Ricordo,https://www.immobiliare.it/en/annunci/106886279/
2,2,"€ 398,000",2,78m²,1,2,"RIF: Divina Servizi Immobiliari di Seregno, Pi...",EK-106888689 - 10/24/2023,Sale,Apartment | Full ownership | Stately property ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Milan,Argonne - Corsica,Via Druso,https://www.immobiliare.it/en/annunci/106888689/
3,3,"€ 420,000",3,85m²,1,2,Zona Crescenzago e più precisamente in Via Pri...,CS- Vittorelli - 10/24/2023,Sale,Apartment | Full ownership | Stately property ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Milan,Crescenzago,Via Jacopo Vittorelli,https://www.immobiliare.it/en/annunci/106892137/
4,4,"€ 780,000",3,80m²,1,5,Ref: ST6 - Tempocasa in Via Bergamo 11 offers ...,ST6 - 10/24/2023,Sale,Apartment | Full ownership | Stately property ...,...,NaN,NaN,NaN,NaN,NaN,NaN,Milan,Porta Romana - Medaglie d'Oro,Via Gerolamo Tiraboschi 6,https://www.immobiliare.it/en/annunci/106889543/

In [ ]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 70 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Unnamed: 0                                     2000 non-null   int64
 1   price_euro                                     2000 non-null   object
 2   number_rooms                                   2000 non-null   object
 3   area_m2                                        1978 non-null   object
 4   bathrooms                                      1861 non-null   object
 5   floor_number                                   1643 non-null   object
 6   description                                    1998 non-null   object
 7   Reference and listing Date                     1997 non-null   object
 8   contract                                       2000 non-null   object
 9   type                                           2000 non-null   object
 10  surface                                        1989 non-null   object
 11  rooms                                          1955 non-null   object
 12  floor                                          1826 non-null   object
 13  total building floors                          1749 non-null   object
 14  Car parking                                    365 non-null    object
 15  availability                                   1429 non-null   object
 16  other features                                 1898 non-null   object
 17  price                                          1681 non-null   object
 18  condominium fees                               1428 non-null   object
 19  deposit                                        1681 non-null   object
 20  year of construction                           1433 non-null   float64
 21  condition                                      1853 non-null   object
 22  heating                                        1772 non-null   object
 23  Air conditioner                                1070 non-null   object
 24  Energy Efficiency                              1662 non-null   object
 25  Energy performance of the building             205 non-null    object
 26  energy certification                           356 non-null    object
 27  Renewable Energy Performance Index             98 non-null     object
 28  Current building use                           4 non-null      object
 29  Cadastral data                                 78 non-null     object
 30  Sale type                                      120 non-null    object
 31  sale date                                      128 non-null    object
 32  minimum offer                                  159 non-null    object
 33  Security deposit                               46 non-null     object
 34  minimum increase                               59 non-null     object
 35  Minimum increase in case of a tender           45 non-null     object
 36  Reason for exemption                           27 non-null     object
 37  Spend book debt                                315 non-null    object
 38  Undue contribution                             315 non-null    object
 39  sale location                                  48 non-null     object
 40  Place of presentation                          37 non-null     object
 41  submission deadline                            56 non-null     object
 42  notes                                          26 non-null     object
 43  Lot number                                     81 non-null     object
 44  number of properties                           315 non-null    float64
 45  category                                       68 non-null     object
 46  updated on                                     315 non-null    object
 47  auction register                               38 non-null     object
 48  procedure number                               61 non-null     object
 49  Procedure                                      55 non-null     object
 50  Court                                          111 non-null    object
 51  Other cadastral data                           42 non-null     object
 52  Expense account deposit                        30 non-null     object
 53  value appraisal                                34 non-null     object
 54  Referent                                       26 non-null     object
 55  Deposit and spending                           22 non-null     float64
 56  Rite                                           25 non-null     float64
 57  Delegato                                       7 non-null      object
 58  Giudice                                        11 non-null     object
 59  Custode                                        11 non-null     object
 60  Reference                                      3 non-null      object
 61  Delegato alla vendita                          4 non-null      object
 62  Curatore                                       4 non-null      object
 63  Geometra                                       4 non-null      object
 64  unit                                           4 non-null      object
 65  Construction start and expected delivery date  4 non-null      object
 66  city                                           2000 non-null   object
 67  neighborhood                                   2000 non-null   object
 68  street                                         1877 non-null   object
 69  URL                                            2000 non-null   object
dtypes: float64(4), int64(1), object(65)
memory usage: 1.1+ MB

# Data Cleaning

### Removing columns with null values > half the length of dataframe

In [ ]:
# Removing columns with null values > half the length of dataframe
columns_to_drop = [column for column in df_data.columns if df_data[column].isnull().sum() > df_data.shape[0] / 2]
columns_to_drop

['Car parking',
 'Energy performance of the building',
 'energy certification',
 'Renewable Energy Performance Index',
 'Current building use',
 'Cadastral data',
 'Sale type',
 'sale date',
 'minimum offer',
 'Security deposit',
 'minimum increase',
 'Minimum increase in case of a tender',
 'Reason for exemption',
 'Spend book debt',
 'Undue contribution',
 'sale location',
 'Place of presentation',
 'submission deadline',
 'notes',
 'Lot number',
 'number of properties',
 'category',
 'updated on',
 'auction register',
 'procedure number',
 'Procedure',
 'Court',
 'Other cadastral data',
 'Expense account deposit',
 'value appraisal',
 'Referent',
 'Deposit and spending',
 'Rite',
 'Delegato',
 'Giudice',
 'Custode',
 'Reference',
 'Delegato alla vendita',
 'Curatore',
 'Geometra',
 'unit',
 'Construction start and expected delivery date']

In [ ]:
df_data.drop(columns_to_drop, axis=1, inplace=True)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2000 non-null   int64
 1   price_euro                  2000 non-null   object
 2   number_rooms                2000 non-null   object
 3   area_m2                     1978 non-null   object
 4   bathrooms                   1861 non-null   object
 5   floor_number                1643 non-null   object
 6   description                 1998 non-null   object
 7   Reference and listing Date  1997 non-null   object
 8   contract                    2000 non-null   object
 9   type                        2000 non-null   object
 10  surface                     1989 non-null   object
 11  rooms                       1955 non-null   object
 12  floor                       1826 non-null   object
 13  total building floors       1749 non-null   object
 14  availability                1429 non-null   object
 15  other features              1898 non-null   object
 16  price                       1681 non-null   object
 17  condominium fees            1428 non-null   object
 18  deposit                     1681 non-null   object
 19  year of construction        1433 non-null   float64
 20  condition                   1853 non-null   object
 21  heating                     1772 non-null   object
 22  Air conditioner             1070 non-null   object
 23  Energy Efficiency           1662 non-null   object
 24  city                        2000 non-null   object
 25  neighborhood                2000 non-null   object
 26  street                      1877 non-null   object
 27  URL                         2000 non-null   object
dtypes: float64(1), int64(1), object(26)
memory usage: 437.6+ KB

### Cleaning ('price_euro') column

In [ ]:
df_data.drop('price', axis=1, inplace=True)

# Drop rows with no price
df_data = df_data[df_data['price_euro'] != 'Price on application']

# Cleaning ('price_euro') column
df_data['price_euro'] = df_data['price_euro'].apply(lambda x: x.replace('€ ', '').replace('from ', '').replace(',', '').replace('.00', ''))

# Filter out rows where 'price_euro' column contains non-numeric values
df_data = df_data[df_data['price_euro'].str.isnumeric() != False]

# Convert the 'price_euro' column to float data type
df_data['price_euro'] = df_data['price_euro'].astype('float')


df_data['price_euro']

0       289000.0
1       950000.0
2       398000.0
3       420000.0
4       780000.0
          ...
1995    160000.0
1996    214000.0
1997    299000.0
1998    450000.0
1999    170000.0
Name: price_euro, Length: 1938, dtype: float64

In [ ]:
# Cleaning ('number_rooms') column
df_data['number_rooms'].value_counts() # Values are corrupted

number_rooms
3             728
2             675
4             243
1             125
5              92
5+             14
200m²           3
225m²           3
360m²           2
51m²            2
205m²           2
12/12/2023      2
240m²           2
325m²           1
368m²           1
125m²           1
185m²           1
300m²           1
150m²           1
230m²           1
227m²           1
315m²           1
570m²           1
275m²           1
450m²           1
280m²           1
95m²            1
171m²           1
198m²           1
900m²           1
1,048m²         1
400m²           1
180m²           1
202m²           1
500m²           1
250m²           1
01/17/2024      1
190m²           1
720m²           1
231m²           1
490m²           1
160m²           1
340m²           1
3,200m²         1
12/19/2023      1
12/14/2023      1
12/20/2023      1
55m²            1
12/21/2023      1
3,000m²         1
1,000m²         1
4,000m²         1
260m²           1
234m²           1
140m²           1
149m²           1
330m²           1
440m²           1
Name: count, dtype: int64

### Cleaning ('number_rooms') column

In [ ]:
# Extract the number of rooms from the 'rooms' column, ignoring any missing values.
# Split the values based on whitespace and retrieve the first part, which represents the number of rooms.
df_data['number_rooms'] = df_data['rooms'].dropna().apply(lambda x : x.split()[0])

# Remove the '+' sign from values representing '5+' rooms, considering them as 5 rooms.
# This standardizes the representation of rooms for consistency.
df_data['number_rooms'] = df_data['number_rooms'].str.replace('+', '')

# Drop rows with missing values in the 'number_rooms' column to ensure data integrity.
df_data = df_data[~df_data['number_rooms'].isnull()]

# Convert the values in the 'number_rooms' column to integer data type for numerical operations.
df_data['number_rooms'] = df_data['number_rooms'].astype('int')

df_data['number_rooms']

0       3
1       4
2       2
3       3
4       3
       ..
1995    2
1996    2
1997    2
1998    3
1999    1
Name: number_rooms, Length: 1919, dtype: int32

### Cleaning ('area_m2') columns

In [ ]:
# Extract the surface area from the 'surface' column, ignoring any missing values.
df_data['area_m2'] = df_data['surface'].dropna().apply(lambda x: x.split()[0])

# Remove any commas from the values to ensure consistency.
df_data['area_m2'] = df_data['area_m2'].str.replace(',', '')

# Drop the 'surface' column from the DataFrame since we have extracted the surface area.
df_data.drop('surface', axis=1, inplace=True)

# Convert the values in the 'area_m2' column to integer data type for numerical operations.
df_data['area_m2'] = df_data['area_m2'].astype('int')

# Display the 'area_m2' column to check the results.
df_data['area_m2']

0       100
1       234
2        78
3        85
4        80
       ...
1995     54
1996     70
1997     50
1998     94
1999     57
Name: area_m2, Length: 1919, dtype: int32

### Cleaning ('bathrooms') column

In [ ]:
# Cleaning ('bathrooms') column
df_data['bathrooms'].value_counts() # Values are corrupted

bathrooms
1        1166
2         456
3          67
82m²        7
73m²        6
         ...
145m²       1
46m²        1
1 - 2       1
187m²       1
148m²       1
Name: count, Length: 69, dtype: int64

In [ ]:
# Extracting the right number of bathrooms from the 'rooms' column

# For apartments with no bathroom information, assume they have 1 bathroom
# Extract the number of bathrooms using split and consider the last two characters of the split result.
# If ' bathroom' is in the value, extract the number before it, otherwise assume 1 bathroom.
df_data['bathrooms'] = df_data['rooms'].dropna().apply(lambda x: x.split(' bathroom')[0][-2:] if ' bathroom' in x else '1')

# Consider apartments with 3+ bathrooms as having just 3 bathrooms
df_data['bathrooms'] = df_data['bathrooms'].str.replace('+', '')

# Drop the 'rooms' column since we have extracted the necessary information into the 'bathrooms' column
df_data.drop('rooms', axis=1, inplace=True)

# Convert the values in the 'bathrooms' column to integer data type for numerical operations
df_data['bathrooms'] = df_data['bathrooms'].astype('int')

# Display the 'bathrooms' column to check the results
df_data['bathrooms']

0       1
1       3
2       1
3       1
4       1
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: bathrooms, Length: 1919, dtype: int32

In [ ]:
# Display value counts to understand the distribution of the number of bathrooms
df_data['bathrooms'].value_counts()

bathrooms
1    1368
2     472
3      79
Name: count, dtype: int64

### Extracting useful information from ('floor') column

In [ ]:
# Create a new column 'with_disabled_access' to indicate if the property has disabled access
# Assign 1 if the string 'with disabled access' is present in the 'floor' column, otherwise 0.
df_data['with_disabled_access'] = df_data['floor'].dropna().apply(lambda x: 1 if 'with disabled access' in x else 0)

# Create a new column 'with_lift' to indicate if the property has a lift
# Assign 1 if the string 'with lift' is present in the 'floor' column, otherwise 0.
df_data['with_lift'] = df_data['floor'].dropna().apply(lambda x: 1 if 'with lift' in x else 0)

# Drop ('floor') column
df_data.drop('floor', axis=1, inplace=True)

df_data['with_disabled_access'].isna().sum()
# Remove null values
df_data = df_data[~df_data['with_disabled_access'].isnull()]

### Cleaning ('floor_number') column

In [ ]:
df_data['floor_number'].value_counts()

floor_number
1         411
2         258
3         216
4         169
G         149
5         106
M         102
6          75
7          45
SB         29
8          25
9           7
2 - 3       3
3 - 4       3
8 - 9       3
4 - 5       3
SB - G      2
B           2
14          2
4 - 6       1
1 - 2       1
7 - 8       1
10          1
12          1
13          1
11          1
Name: count, dtype: int64

In [ ]:
# Extracting floor numbers from the 'floor_number' column and standardizing representations

#'M' is replaced with '0.5' (representing a mezzanine floor), 'SB' and 'B' are both replaced with '-1' (representing basement floors), and 'G' is replaced with '0' (representing ground floors).
# Replace 'M' with '0.5', 'SB' with '-1', 'B' with '-1', and 'G' with '0'
df_data['floor_number'] = df_data['floor_number'].dropna().apply(lambda x: x.replace('M', '0.5').replace('SB', '-1').replace('B', '-1').replace('G', '0'))
df_data['floor_number'] = df_data['floor_number'].dropna().apply(lambda x: x.split()[0])
# Convert the values in the 'floor_number' column to a categorical data type
df_data['floor_number'] = df_data['floor_number'].astype('category')

# Remove rows with null values in the 'floor_number' and 'description' columns
df_data = df_data[~df_data['floor_number'].isnull()]
df_data = df_data[~df_data['description'].isnull()]

In [ ]:
# Display the value counts of the 'floor_number' column to check the distribution
df_data['floor_number'].value_counts()

floor_number
1      411
2      261
3      219
4      173
0      149
5      106
0.5    102
6       75
7       46
-1      33
8       28
9        7
14       2
13       1
12       1
11       1
10       1
Name: count, dtype: int64

In [ ]:
# Make new column for the date of the announcement
df_data['listing Date'] = df_data['Reference and listing Date'].dropna().apply(lambda x : x.split('-')[-1])
df_data['listing Date'] = pd.to_datetime(df_data['listing Date'])

### Cleaning ('contract') column

In [ ]:
df_data['contract'].value_counts()

contract
Sale                                    1399
Sale - Download brochure                 170
Sale | Income property                    43
Sale, open                                 3
Sale | Income property | Rent to buy       1
Name: count, dtype: int64

In [ ]:
df_data['contract'] = 'sale'

### Cleaning ('total building floors') column

In [ ]:
df_data['total building floors'].value_counts()

total building floors
5 floors     278
4 floors     262
6 floors     253
8 floors     206
7 floors     173
3 floors     158
2 floors      81
9 floors      57
1 floor       39
10 floors     14
14 floors      5
11 floors      5
16 floors      4
12 floors      2
17 floors      1
18 floors      1
23 floors      1
15 floors      1
Name: count, dtype: int64

In [ ]:
df_data['total building floors'] = df_data['total building floors'].dropna().apply(lambda x : x.split(' ')[0])

# convert values to float
df_data['total building floors'] = df_data['total building floors'].dropna().astype('float')
df_data['total building floors']

0        7.0
2        3.0
3        5.0
4        5.0
5        4.0
        ...
1993     6.0
1994    10.0
1995     6.0
1997     5.0
1998     6.0
Name: total building floors, Length: 1616, dtype: float64

### Cleaning ('condominium fees') column

In [ ]:
df_data['condominium fees'].value_counts()

condominium fees
No condominium fees    159
€ 100/month            125
€ 150/month            117
€ 200/month            102
€ 250/month             73
                      ...
€ 600/month              1
€ 191/month              1
€ 134/month              1
€ 86/month               1
€ 666/month              1
Name: count, Length: 154, dtype: int64

In [ ]:
df_data['condominium fees'] = df_data['condominium fees'].dropna().apply(lambda x : x.replace('No condominium fees', '0').replace('/month', '').replace('€ ', '').replace(',', ''))

# Convert values to float
df_data['condominium fees'] = df_data['condominium fees'].astype('float')

In [ ]:
# ('condominium fees') column has alot of null values
df_data['condominium fees'].isnull().sum()

341

In [ ]:
# Getting the mean of the condominium fees of each neighborhood
means = df_data.groupby('neighborhood')['condominium fees'].mean()
means

neighborhood
Affori                   244.800000
Amendola - Buonarroti    110.000000
Arco della Pace          343.400000
Arena                      0.000000
Argonne - Corsica        196.300000
                            ...
Vigentino - Fatima        92.937500
Villa San Giovanni       206.666667
Vincenzo Monti           225.000000
Washington               198.529412
Zara                     223.428571
Name: condominium fees, Length: 139, dtype: float64

In [ ]:
# Filling the null values with the mean of each neighborhood
new_values = means[df_data[df_data['condominium fees'].isnull()]['neighborhood']].values
new_values

array([341.54545455, 542.5       , 135.5       , 216.31147541,
       242.14285714, 136.71428571, 135.5       , 150.13636364,
       196.3       , 136.71428571, 162.125     ,   0.        ,
       341.54545455, 927.66666667, 260.9       , 341.54545455,
       341.54545455, 341.54545455, 468.75      , 196.3       ,
       341.54545455, 162.125     , 341.54545455, 341.54545455,
       135.20454545, 341.54545455, 263.27777778, 136.71428571,
       136.71428571, 216.31147541, 251.11111111, 177.84375   ,
       216.31147541,  85.        , 239.375     , 223.60869565,
         0.        , 160.625     , 416.        , 110.14285714,
        60.90909091, 207.5       , 234.8       ,  60.90909091,
       263.27777778, 164.28571429, 158.0625    , 315.25      ,
        92.9375    , 207.55555556, 216.31147541, 216.31147541,
       223.60869565, 216.31147541, 137.44117647, 159.54545455,
       216.31147541, 358.        , 263.27777778, 228.20833333,
       542.5       , 135.20454545, 196.3       , 216.31147541,
       190.4       , 162.125     , 137.44117647, 107.36842105,
       150.13636364, 239.375     , 150.13636364, 260.9       ,
       216.31147541,   0.        , 244.8       , 136.71428571,
       162.125     , 196.3       , 216.31147541, 162.125     ,
       183.25      , 164.28571429, 196.3       , 216.31147541,
       216.31147541, 216.31147541, 595.83333333, 146.16666667,
       106.25      , 158.0625    , 247.66666667, 247.66666667,
       247.66666667, 247.66666667, 247.66666667, 260.9       ,
       247.66666667, 247.66666667, 165.58823529, 117.44444444,
       234.8       ,          nan, 136.71428571, 196.3       ,
       119.38709677, 207.5       , 165.58823529, 553.2       ,
       553.2       , 162.5       , 196.3       , 162.125     ,
       216.31147541, 136.71428571, 207.5       , 196.3       ,
       154.71428571, 174.47619048, 206.66666667, 206.66666667,
       313.80952381, 313.80952381, 169.2       , 177.84375   ,
       358.        , 128.91666667, 110.14285714, 160.        ,
       160.        , 160.        , 174.75      , 137.44117647,
       139.63157895, 320.8       , 198.52941176, 154.71428571,
       110.        , 128.91666667, 196.3       , 146.6875    ,
                nan, 190.4       , 345.        , 128.91666667,
       223.60869565, 244.8       , 162.5       , 165.58823529,
       223.60869565, 110.14285714, 244.8       , 207.5       ,
       137.44117647, 248.33333333, 159.54545455, 244.8       ,
       223.60869565,          nan, 174.47619048, 220.5       ,
       123.42857143, 135.20454545, 149.77777778, 135.20454545,
       660.        , 150.13636364, 196.3       , 169.2       ,
       169.2       , 117.44444444, 136.71428571, 244.8       ,
                nan, 927.66666667, 110.14285714, 301.        ,
       110.        , 135.20454545, 135.20454545, 223.60869565,
       244.8       , 162.5       , 244.8       , 169.2       ,
       223.60869565, 301.        , 260.        , 260.9       ,
         0.        , 165.58823529, 142.        ,   0.        ,
       280.2       , 483.        , 225.33333333, 223.60869565,
       223.60869565, 190.4       , 183.25      , 162.125     ,
       251.11111111, 107.36842105, 107.36842105, 107.36842105,
       172.68421053, 150.13636364, 216.31147541, 150.13636364,
       156.125     , 536.66666667, 223.60869565, 225.3       ,
       160.625     , 223.60869565, 135.20454545, 216.31147541,
       483.        , 128.91666667, 162.125     , 135.20454545,
       135.20454545, 320.8       , 172.68421053, 216.31147541,
        98.33333333, 207.5       , 358.        , 260.        ,
       288.25806452, 156.125     , 135.20454545, 150.13636364,
       341.54545455, 244.8       , 154.71428571, 223.60869565,
       210.        , 210.        , 135.20454545, 234.8       ,
       149.77777778, 210.        , 128.91666667, 137.44117647,
                nan, 247.66666667, 345.        , 223.60869565,
       216.31147541, 811.75      , 137.44117647, 313.80952381,
       244.8       , 160.        , 244.8       , 135.20454545,
       244.8       , 119.875     , 122.45454545, 162.5       ,
       125.        , 117.44444444, 244.8       , 169.2       ,
       244.8       , 136.71428571, 169.2       , 125.        ,
       255.        , 239.375     , 169.2       , 125.        ,
       136.71428571, 156.125     , 169.2       , 244.8       ,
       169.2       , 358.        , 358.        , 358.        ,
       358.        , 358.        , 150.13636364, 216.31147541,
       216.31147541, 313.80952381, 216.31147541, 128.91666667,
       128.91666667, 358.        , 164.22222222, 244.8       ,
       180.        , 288.25806452, 135.20454545, 244.8       ,
       239.375     , 190.4       , 135.20454545, 135.20454545,
        92.9375    , 135.20454545, 260.        , 135.20454545,
       137.44117647, 165.58823529, 162.5       ,   0.        ,
       135.20454545, 162.5       , 135.20454545, 244.8       ,
       244.8       , 239.375     , 251.11111111, 162.5       ,
       135.20454545, 156.125     , 216.31147541, 223.60869565,
       244.8       , 150.13636364, 244.8       , 225.3       ,
       313.80952381, 244.8       , 234.8       , 234.8       ,
       160.        , 160.        , 313.80952381, 160.        ,
       128.91666667, 128.91666667, 128.91666667, 128.91666667,
         0.        ,          nan, 190.4       , 223.42857143,
       260.        ])

In [ ]:
condition  = df_data['condominium fees'].isnull()
subset = df_data[condition]
subset

,Unnamed: 0,price_euro,number_rooms,area_m2,bathrooms,floor_number,description,Reference and listing Date,contract,type,...,heating,Air conditioner,Energy Efficiency,city,neighborhood,street,URL,with_disabled_access,with_lift,listing Date
18,18,415000.0,2,70,1,3,La Tempocasa in Milan Ripamonti offers for sal...,B1100 - 10/24/2023,sale,Apartment | Full ownership | Stately property ...,...,"Independent, with radiators, powered by methane",System predisposition,A≥ 175 kWh/m² year,Milan,Ripamonti,Via Bernardino Verro,https://www.immobiliare.it/en/annunci/106898201/,0.0,1.0,2023-10-24
41,41,6000000.0,5,50000,3,0,MEDIATORI GROUP CASTELSARDO PROPONE IN VENDITA...,315632 - 10/24/2023,sale,Building | Luxury property,...,"Independent, air heating, powered by heat pump",System predisposition,G≥ 175 kWh/m² year,Milan,Duomo,Piazza del Duomo,https://www.immobiliare.it/en/annunci/106892483/,1.0,0.0,2023-10-24
54,54,525000.0,3,120,1,1,three-room apartment with large terracePonteNu...,EK-106887461 - 10/24/2023,sale,Apartment | Full ownership | Luxury property,...,"Independent, air heating","Independent, cold/hot","A3≥ 3,51 kWh/m² year",Milan,Ponte Nuovo,Via Ponte Nuovo,https://www.immobiliare.it/en/annunci/106887461/,1.0,1.0,2023-10-24
96,96,251250.0,3,90,1,1,Appartamento posto al primo piano con ascensor...,EK-106886743 - 10/23/2023,sale,Apartment | Full ownership | Medium property c...,...,"Central, with radiators, powered by methane",NaN,G≥ 175 kWh/m² year,Milan,Città Studi,Via Ferdinando Marescalchi,https://www.immobiliare.it/en/annunci/106886743/,0.0,1.0,2023-10-23
108,108,122880.0,2,90,1,0,"ALL'ASTA BILOCALE IN VIALE CERTOSA, MILANO (MI...",EX7982168 - 10/24/2023,sale,Apartment | Medium property class,...,"Independent, with radiators",NaN,G175 kWh/m² year,Milan,Cascina Merlata - Musocco,viale Certosa 292,https://www.immobiliare.it/en/annunci/106897523/,0.0,0.0,2023-10-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,1986,184500.0,3,87,2,2,GRIMALDI PORTA ROMANA PROPONE ALL’ASTA IN VIA ...,GPRAS/MLY/22/184 - 10/15/2023,sale,Apartment,...,NaN,NaN,G175 kWh/m² year,Milan,Quarto Cagnino,"Via Milly , 9",https://www.immobiliare.it/en/annunci/106667341/,0.0,0.0,2023-10-15
1987,1987,157800.0,5,148,2,2,GRIMALDI PORTA ROMANA PROPONE ALL’ASTA IN MILA...,GPRAS/VTT/22/157 - 10/15/2023,sale,Apartment,...,NaN,NaN,G175 kWh/m² year,Milan,Ponte Lambro,"via Vittorini, 32",https://www.immobiliare.it/en/annunci/106667339/,0.0,0.0,2023-10-15
1988,1988,91627.0,3,73,1,1,GRIMALDI PORTA ROMANA PROPONE ALL’ASTA IN VIA ...,GPRAS/BAS/22/91 - 10/15/2023,sale,Apartment,...,NaN,NaN,G175 kWh/m² year,Milan,Bruzzano,"via dei Braschi, 7",https://www.immobiliare.it/en/annunci/106667343/,0.0,0.0,2023-10-15
1990,1990,695000.0,4,104,2,4,"Isola, stabile d’epoca ristrutturato nelle par...",EK-106666961 - 10/15/2023,sale,Apartment,...,Central,Cold/hot,NaN,Milan,Zara,Piazza Spotorno,https://www.immobiliare.it/en/annunci/106666961/,0.0,1.0,2023-10-15
1991,1991,445000.0,3,115,2,4,All'interno di un contesto residenziale con am...,EK-106666323 - 10/15/2023,sale,Apartment | Full ownership,...,Central,Cold/hot,E317 kWh/m² year,Milan,Cantalupa - San Paolo,Via Teramo,https://www.immobiliare.it/en/annunci/106666323/,0.0,1.0,2023-10-15

In [ ]:
df_data.loc[condition, 'condominium fees'] = new_values

In [ ]:
# Resetting the index of the DataFrame to a sequential range starting from zero.
# This ensures that the index of the DataFrame is renumbered to be consecutive integers starting from zero,
# reflecting the new order of rows after any operations that might have changed the original order.

df_data.index = range(df_data.shape[0])

In [ ]:
# Saving the cleaned DataFrame to a CSV file named 'house_prices_raw_data_cleaned.csv'.
# This allows for easy storage and sharing of the cleaned data for further analysis or use in other applications.
df_data.to_csv('house_prices_data_cleaned.csv')